# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
# Generated platform folders (run `flutter create .` to regenerate)
android/
ios/
linux/
macos/
windows/
web/
pubspec.lock
